@media screen and (max-device-width : 750px) and (orientation : landscape){
#foot {
background-color:#000;
height:125px;
margin-bottom:0;
margin-top:10%;
position:relative;
width:100%
}
#card3 {
margin-left:15%
}

#desk-ass6 {
display:none
}

.message {
margin-left:0
}

#mobile-ass6 {
display:inline-block
}
.message-box {
margin-left:0;
width:100%
}

#submit {
background-color:transparent;
border:solid;
border-color:#000;
border-radius:4px;
color:#000;
cursor:pointer;
display:inline-block;
font-size:15px;
font-weight:700;
margin-left:0;
padding-bottom:4px;
padding-top:4px;
text-align:center;
width:160px
}

.card {
margin-bottom:9%;
margin-left:18%;
width:500px
}

.card img {
height:425px;
width:500px
}

.card-row2 {
margin-bottom:9%;
width:500px
}

.card-row2 img {
height:425px;
width:500px
}
#about{
font-size: 88px
}
.col1-programming {
margin-left:-7%
}

.col2-programming {
margin-left:-7%
}

.col3-programming {
margin-left:28.8%
}

.diagonal {
height:525px;
background-attachment:initial;
background-position:50% 0%
}

.diagonal:after {
bottom:-2px
}

.diagonal2 {
background-attachment:initial;
height:650px
}

.diagonal3 {
background-attachment:initial;
height:650px
}

.diagonal4 {
background-attachment:initial;
height:650px
}

.fa-chevron-circle-up {
font-size:50px;
padding-top:50px
}

.fa-facebook-square {
font-size:50px;
margin-left:80%;
padding-top:50px
}

.fa-instagram {
font-size:50px;
margin-left:90%;
padding-top:50px
}

.fa-linkedin-square {
font-size:50px;
margin-left:70%;
padding-top:50px
}

.row2 {
display:inline-block;
margin-left:15%;
margin-right:0;
padding-bottom:4%
}

.triangle-websitetop:after {
bottom:-2px
}

.triangle-bottom:after {
display:none
}
hr.style-eight {
justify-content:center;
margin-left:0;
width:100%
}

hr.style-eight:after {
font-size:2.5em;
top:-.5em
}

input[type=submit] {
background-color:#4CAF50;
border:none;
border-radius:4px;
color:#fff;
cursor:pointer;
padding:12px 20px
}

input[type=submit]:hover {
background-color:#45a049
}

input[type=text],select,textarea {
font-size:18px;
margin-right:20%;
padding:5px;
width:100%
}

label {
font-size:22px
}

object {
margin-left:-15%
}

p {
font-size:33px;
line-height:1.5em
}

.row2 {
width:100%
}
body,html {
background:#fff;
color:#333;
font-size:20px;
line-height:1.8em;
margin:0;
overflow-x:hidden;
padding:0
}

button {
background-color:#000;
border:none;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:18px;
outline:0;
padding:8px;
text-align:center;
width:100%
}

button:hover {
text-decoration:underline
}

h1 {
font-size:2em
}

h1,h2,h3,h4,h5,h6 {
color:#1a1a1a;
line-height:1.2em;
margin:2.1em 0 .7em
}

h3 {
font-size:1.6em
}

h4 {
font-size:1.4em;
margin-top:5%
}

h5 {
font-size:1.2em
}

h6 {
color:grey;
font-size:1em
}

hr.style-eight {
border:none;
border-top:medium double #333;
color:#333;
margin-left:-14.7%;
overflow:visible;
padding:0;
text-align:center;
width:125%
}

hr.style-eight:after {
background:#fff;
content:"\00A7";
display:inline-block;
font-size:1.5em;
padding:0 .25em;
position:relative;
top:-.7em
}

input[type=submit] {
background-color:#4CAF50;
border:none;
border-radius:4px;
color:#fff;
cursor:pointer;
padding:12px 20px
}

input[type=submit]:hover {
background-color:#45a049
}

input[type=text],select,textarea {
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;
display:inline-block;
font-size:12px;
left:0;
margin-bottom:16px;
margin-top:6px;
padding:5px;
resize:vertical;
width:100%
}

label {
font-size:15px;
font-weight:700
}

p {
font-size:20px
}

textarea {
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;
display:inline-block;
height:170px;
margin:3px 0;
padding:0 20px;
width:100%
}
.topnav a
{
	font-size: 22px;
}
}